<template>
  <div class="contact pa-8 ">
    <h1 class=" text-lg-h2 text-center pb-8">CONTACT US</h1>
    <v-container>
      <v-row>
        <v-col offset-xl="4" offset-lg="3" offset="0" cols="12" xl="4" lg="6">
          <v-form ref="form">
            <v-text-field
              v-model="form.email"
              label="E-mail"
              :error-messages="errorMessages.email"
            ></v-text-field>
            <v-textarea
              label="Message"
              v-model="form.msg"
              counter="0"
              :error-messages="errorMessages.msg"
            ></v-textarea>
            <v-btn color="success" class="mt-4" @click="send">
              Send
            </v-btn>
          </v-form>
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-xl="4" offset-lg="3" offset="0" cols="12" xl="4" lg="6">
			<v-alert
				elevation="10"
				prominent
				:value="alert.show"
				dense
				text
				:type="alert.type"
				transition="scale-transition"
				>{{ alert.msg }}</v-alert
			>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  name: "ContactUs",
  data: () => ({
    form: {
      msg: null,
      email: null,
    },
    errorMessages: {
      email: "",
      msg: "",
    },
    alert: {
      show: false,
      msg: "",
      type: "success",
    }
  }),
  methods: {
    send() {
		fetch("/api/contact", {
			method: "POST",
			headers: {
			Accept: "application/json",
			"Content-Type": "application/json",
			},
			body: JSON.stringify(this.form),
		})
        .then((response) => response.json())
        .then((data) => {
			this.errorMessages = data.errors;
			if (Object.keys(data.errors).length > 0) {
				this.alert.show = true;
				this.alert.msg = data.message;
				this.alert.type = "error";
				return;
			}
			this.alert.show = true;
			this.alert.msg = data.message;
			this.alert.type = "success";
			this.$refs.form.reset();
        });
    },
  },
  watch: {
    "alert.show": function(new_val) {
		if (new_val) {
			setTimeout(() => {
				this.alert.show = false;
			}, 3000);
		}
    },
  },
};
</script>
