<template>
  <v-app id="inspire">
    <v-app-bar app color="white" flat>
      <v-avatar color="grey darken-1" size="40">
        <img src="/assets/images/avatar.jpg" alt="John" />
      </v-avatar>

      <v-tabs centered class="ml-n9" color="grey darken-1">
        <v-tab v-for="(link, name) in links" :key="link" :to="link">
          {{ name }}
        </v-tab>
      </v-tabs>
    </v-app-bar>

    <v-main class="grey lighten-3">
      <v-container>
        <v-row>
          <v-col offset="0" offset-sm="1" cols="12" sm="10">
            <v-sheet min-height="70vh" rounded="lg">
              <router-view />
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    links: {
      Home: "/",
      "Contact Us": "/contact-us",
    },
  }),
};
</script>
